.attendeesList {
  background-color: white;
  padding: 20px;
  margin: 20px auto;
  max-width: 90%;
  border: 1px solid grey;
  border-radius: 5px;

  &__title {
    margin-bottom: 10px;
  }

  &__table {
    &--row {
      display: flex;
    }
  }
}
