.attendeesList {
  margin: 40px auto;
  width: 65%;
  border-radius: 5px;
  padding: 30px 20px;

  &__title {
    margin-bottom: 10px;
  }

  &__table {
    &--row {
      display: flex;
    }
  }
}

@media only screen and (max-width: 1007px) {
  .attendeesList {
    margin: 0 auto;
    width: auto;
  }
}
