.creator {
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  height: 400px;
  flex-direction: column;
  padding: 20px 30px;
  margin-left: 30px;
  margin-top: 30px;
  border-radius: 5px;
  justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  top: 30px;

  &__tittle {
    font-size: 24px;
    margin-bottom: 20px;
    color: white;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &--button {
      max-width: 50%;
    }
  }
}

@media only screen and (max-width: 1007px) {
  .creator {
    height: auto;
    top: 0;
    margin: 10px auto;
    width: 90%;

    &__form {
      flex-direction: row;
    }
  }
}
