.noAttendeesBox {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 90%;
  height: 200px;
  background-image: url(../images/empty-auditorium.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;

  &__title {
    all: unset;
    color: white;
    font-size: 32px;
    font-weight: 600;
  }
}
